@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
/**************** 반응형 ****************/
html, body, h1, h2, h3, h4, h5, h6, p, div, header, footer, section, aside, article, ul, ol, li, dl, dd, dt, fieldset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

ul, ol {
  list-style: none;
}

.w100 {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
}

address {
  font-style: normal;
}

input, select, textarea, button {
  font-size: inherit;
  box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}

.wrapper {
  min-height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.wrapper .side-wrap {
  border: 1px solid black;
  min-width: 250px;
  background-color: #32B8FF;
  overflow-y: auto;
  padding: 1em 0;
  color: white;
}

.wrapper .side-wrap .side-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper .side-wrap .side-list li .menu-i {
  font-size: 1.125em;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.wrapper .side-wrap .side-list li .menu-i i {
  padding-right: 1.5em;
}

.wrapper .side-wrap .side-list li:hover {
  background-color: white;
  color: #32B8FF;
}

.wrapper .content-wrap {
  width: calc(1400px - 250px);
  margin: 0 auto;
  padding: 2em 0;
}

@media screen and (max-width: 1400px) {
  .wrapper .content-wrap {
    width: calc(1200px - 250px);
  }
}

@media screen and (max-width: 1200px) {
  .wrapper .content-wrap {
    width: calc(992px - 250px);
  }
}

@media screen and (max-width: 992px) {
  .wrapper .content-wrap {
    width: calc(768px - 250px);
  }
}

@media screen and (max-width: 768px) {
  .wrapper .content-wrap {
    width: calc(576px - 250px);
  }
}

.wrapper .content-wrap .container .title {
  margin-bottom: 1em;
}

.wrapper .content-wrap .container .title p {
  font-size: 2em;
  display: inline-block;
  padding-bottom: 0.25em;
  border-bottom: 1px solid gainsboro;
}

.wrapper .content-wrap .container .content-boxes {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-flow: column;
  overflow-y: auto;
}

.wrapper .content-wrap .container .content-boxes .content-box {
  margin: 0.25em 0;
  border: 1px solid black;
  padding: 10px;
}

.wrapper .content-wrap .container .content-boxes .content-box .content .title {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper .content-wrap .container .content-boxes .content-box .content .info {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  width: 100%;
  line-height: 1.2em;
  height: calc(1.2em * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  word-wrap: break-word;
}

.wrapper .content-wrap .container .content-boxes .content-box .content .i-wrap {
  text-align: right;
  font-size: 1.5em;
  cursor: pointer;
}

.wrapper .content-wrap .container .content-boxes .content-box .board {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
}

.wrapper .content-wrap .container .content-boxes .content-box .board p {
  border-bottom: 1px solid black;
}
