@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
/**************** 반응형 ****************/
html, body, h1, h2, h3, h4, h5, h6, p, div, header, footer, section, aside, article, ul, ol, li, dl, dd, dt, fieldset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

ul, ol {
  list-style: none;
}

.w100 {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
}

address {
  font-style: normal;
}

input, select, textarea, button {
  font-size: inherit;
  box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper .popup-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
  z-index: 100;
  display: none;
}

.wrapper .container-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 100vh;
}

.wrapper .container-wrap .side-wrap {
  position: relative;
  border: 1px solid black;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  min-width: 350px;
  max-width: 350px;
  transition: all 0.5s;
  font-family: "Noto Sans KR", sans-serif;
}

@media screen and (max-width: 992px) {
  .wrapper .container-wrap .side-wrap {
    position: fixed;
    left: -9999px;
  }
}

@media screen and (max-width: 576px) {
  .wrapper .container-wrap .side-wrap {
    min-width: 100vw;
    max-width: 100vw;
  }
}

.wrapper .container-wrap .side-wrap .box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  padding: 16px;
}

.wrapper .container-wrap .side-wrap .box .title {
  font-weight: bold;
  font-size: 1.25em;
  padding-bottom: 12px;
}

.wrapper .container-wrap .side-wrap .box .content {
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* 라인수 */
  width: 100%;
  line-height: 1.5em;
  height: calc(1.5em * 3);
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  word-wrap: break-word;
}

.wrapper .container-wrap .side-wrap .box:hover > .content {
  text-decoration: underline;
}

.wrapper .container-wrap .content-wrapper {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  min-height: 100vh;
  overflow-y: auto;
}

@media screen and (max-width: 992px) {
  .wrapper .container-wrap .content-wrapper {
    left: 0;
    width: calc(100vw);
  }
}

.wrapper .container-wrap .content-wrapper .content-wrap {
  margin: 2em auto;
  border: 1px solid black;
  min-height: calc(100% - 4em);
  width: calc(100% - 4em);
}

@media screen and (max-width: 576px) {
  .wrapper .container-wrap .content-wrapper .content-wrap {
    width: calc(100%);
    margin: 0;
  }
}

.wrapper .container-wrap .content-wrapper .content-wrap .content {
  padding: 2em;
}

.wrapper .container-wrap .content-wrapper .content-wrap .content .title-wrap {
  font-size: 2em;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  display: inline;
}

.wrapper .container-wrap .content-wrapper .content-wrap .content .title-wrap .title-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.wrapper .container-wrap .content-wrapper .content-wrap .content .title-wrap .title-info-wrap .profile {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}

.wrapper .container-wrap .content-wrapper .content-wrap .content .title-wrap .title-info-wrap .profile .photo {
  width: 50px;
}

.wrapper .container-wrap .content-wrapper .content-wrap .content .title-wrap .title-info-wrap .profile .write-info {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 0.5em;
  margin-left: 16px;
}

.wrapper .container-wrap .content-wrapper .content-wrap .content .title-wrap .title-info-wrap .profile .write-info .content {
  background-color: cadetblue;
  height: 50%;
  width: 50%;
}

.wrapper .container-wrap .content-wrapper .content-wrap .content .title-wrap .title-info-wrap .profile .write-info .date {
  margin-top: 4px;
  font-weight: normal;
}

.wrapper .container-wrap .content-wrapper .content-wrap .mainText {
  margin: 16px 0;
  font-size: 18px;
  line-height: 1.5em;
}

.menu-wrap {
  position: fixed;
  bottom: 8px;
  left: 8px;
  z-index: 99;
}

@media screen and (max-width: 576px) {
  .menu-wrap {
    right: 16px;
    bottom: 48px;
  }
}

.menu-wrap ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.375em;
}

@media screen and (max-width: 576px) {
  .menu-wrap ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.menu-wrap ul li {
  padding-right: 0.75em;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .menu-wrap ul li {
    margin: 8px 0;
  }
}

.menu-wrap ul li .search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (max-width: 576px) {
  .menu-wrap ul li .search:hover input[type="text"] {
    width: 200px;
    visibility: visible;
  }
}

.menu-wrap ul li .search i.mobile {
  display: none;
}

@media screen and (max-width: 576px) {
  .menu-wrap ul li .search i.mobile {
    display: block;
  }
}

.menu-wrap ul li .search i.desktop {
  display: block;
}

@media screen and (max-width: 576px) {
  .menu-wrap ul li .search i.desktop {
    display: none;
  }
}

.menu-wrap ul li .search input[type="text"] {
  width: 200px;
  border-radius: 5px;
  opacity: 0.3;
  transition: all 0.3s;
  margin-left: 4px;
}

@media screen and (max-width: 576px) {
  .menu-wrap ul li .search input[type="text"] {
    width: 0;
    visibility: hidden;
  }
}

.menu-wrap ul li .search input[type="text"]:focus {
  opacity: 1;
  font-weight: bold;
  width: 250px;
}

.menu-wrap ul .side-sw {
  display: none;
}

@media screen and (max-width: 992px) {
  .menu-wrap ul .side-sw {
    display: block;
  }
}

.popup-wrap {
  z-index: 150;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border: solid 1px black;
  width: 70vw;
  background-color: white;
  display: none;
  max-height: 90vh;
  overflow-y: auto;
}

@media screen and (max-width: 576px) {
  .popup-wrap {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 576px) {
  .popup-wrap {
    width: 100vw;
    max-height: 80vh;
  }
}

.popup-wrap .write-popup {
  display: none;
}

.popup-wrap .write-popup form {
  padding: 0.5em;
}

.popup-wrap .write-popup form input, .popup-wrap .write-popup form select, .popup-wrap .write-popup form textarea {
  display: block;
  margin: 0.5em 0;
  width: calc(50% - 1em);
  border: 1.5px solid black;
}

.popup-wrap .write-popup form input:not(.calendar) {
  font-size: 1.5em;
  width: 100%;
}

.popup-wrap .write-popup form .title::placeholder {
  padding-left: 4px;
}

.popup-wrap .write-popup form .content {
  margin-bottom: 8px;
}

.popup-wrap .button-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}

.popup-wrap .button-wrap .popup_button {
  border: 1px solid black;
  font-size: 1.25em;
  margin: 0 0.25em;
  cursor: pointer;
}
