@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
/**************** 반응형 ****************/
html, body, h1, h2, h3, h4, h5, h6, p, div, header, footer, section, aside, article, ul, ol, li, dl, dd, dt, fieldset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

ul, ol {
  list-style: none;
}

.w100 {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
}

address {
  font-style: normal;
}

input, select, textarea, button {
  font-size: inherit;
  box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}

body {
  color: #4C4C6D;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
}

.wrap .popup-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
  z-index: 100;
  display: none;
}

.wrap .header-wrapper {
  border: 2px solid black;
  height: 8vh;
  background-color: #B8DFD8;
}

.wrap .header-wrapper .header-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 1em;
}

.wrap .header-wrapper .header-wrap .logo-wrap {
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.wrap .header-wrapper .header-wrap .logo-wrap .panel {
  display: none;
}

@media screen and (max-width: 992px) {
  .wrap .header-wrapper .header-wrap .logo-wrap .panel {
    display: block;
  }
}

.wrap .header-wrapper .header-wrap .logo-wrap .logo {
  padding: 0 1em;
}

.wrap .header-wrapper .header-wrap .search-wrap {
  border: none;
}

@media screen and (max-width: 992px) {
  .wrap .header-wrapper .header-wrap .search-wrap {
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .wrap .header-wrapper .header-wrap .search-wrap {
    display: none;
  }
}

.wrap .header-wrapper .header-wrap .search-wrap .input-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 32px;
  border: 1px solid black;
  padding: 0;
  border-radius: 0.5em;
}

.wrap .header-wrapper .header-wrap .search-wrap .input-wrap .search {
  width: 280px;
  height: 30px;
  border: none;
  border-radius: 0.5em;
  padding-left: 0.5em;
}

.wrap .header-wrapper .header-wrap .search-wrap .input-wrap .search_button {
  border: none;
  width: 30px;
  height: 30px;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.wrap .header-wrapper .header-wrap .menu-wrap .write {
  font-size: 2em;
}

.wrap .center-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  height: 92vh;
  background-color: #E8F6EF;
}

.wrap .center-wrapper .side-wrapper {
  position: relative;
  border: 2px solid black;
  width: 180px;
  height: 100%;
  background-color: white;
}

@media screen and (max-width: 992px) {
  .wrap .center-wrapper .side-wrapper {
    position: absolute;
    left: -9999px;
    z-index: 1;
  }
}

.wrap .center-wrapper .side-wrapper .category {
  padding: 0 10px;
}

.wrap .center-wrapper .side-wrapper .category .category-header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  font-weight: bold;
}

.wrap .center-wrapper .side-wrapper .category li {
  padding: 3px 0;
}

.wrap .center-wrapper .side-wrapper .category li p {
  display: inline;
}

.wrap .center-wrapper .side-wrapper .serach-wrap {
  position: absolute;
  bottom: 0;
  padding: 0.5em;
}

.wrap .center-wrapper .side-wrapper .serach-wrap input {
  width: 80%;
}

.wrap .center-wrapper .content-wrapper {
  position: relative;
  width: calc(100% - 180px);
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  height: 100%;
}

.wrap .center-wrapper .content-wrapper::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

@media screen and (max-width: 992px) {
  .wrap .center-wrapper .content-wrapper {
    width: 100vw;
  }
}

.wrap .center-wrapper .content-wrapper .content-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 102%;
  margin: 0 auto;
  padding: 30px 30px;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content {
  background-color: #FFE194;
  position: relative;
  width: 23%;
  height: 200px;
  margin-right: 2%;
  margin-bottom: 2%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap {
  font-size: 1.125em;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap .i-wrap {
  position: absolute;
  right: 0.25em;
  top: 0;
  transform: rotate(45deg);
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap .image-wrap img {
  height: 120px;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap .info {
  padding: 1em;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap .info .title {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0.625em 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap .info div {
  padding: 0.125em 0;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap .info div span::after {
  content: " ";
}

@media screen and (max-width: 1200px) {
  .wrap .center-wrapper .content-wrapper .content-wrap .content {
    width: 31%;
  }
}

@media screen and (max-width: 992px) {
  .wrap .center-wrapper .content-wrapper .content-wrap .content {
    width: 31%;
  }
}

@media screen and (max-width: 768px) {
  .wrap .center-wrapper .content-wrapper .content-wrap .content {
    width: 48%;
  }
}

@media screen and (max-width: 576px) {
  .wrap .center-wrapper .content-wrapper .content-wrap .content {
    width: 98%;
  }
}

.wrap .center-wrapper .content-wrapper .footer-wrap {
  width: 100%;
  border: 2px solid black;
  background-color: #B8DFD8;
  height: 8vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

.up-arrow {
  position: fixed;
  bottom: 9%;
  right: 2%;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.up-arrow a i {
  font-size: 2em;
  margin-left: 0.125em;
}

.popup-wrap {
  z-index: 150;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  width: 90vw;
  background-color: white;
  display: none;
  max-height: 90vh;
  overflow-y: scroll;
}

.popup-wrap .write-popup {
  display: none;
}

.popup-wrap .write-popup form {
  padding: 0.5em;
}

.popup-wrap .write-popup form input, .popup-wrap .write-popup form select, .popup-wrap .write-popup form textarea {
  display: block;
  margin: 0.5em 0;
  width: calc(50% - 1em);
  border: 1.5px solid black;
}

.popup-wrap .write-popup form input:not(.calendar) {
  font-size: 1.5em;
  width: 100%;
}

.popup-wrap .write-popup form .date {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}

.popup-wrap .write-popup form .date fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.5em;
  width: calc(50% - 0.5em);
  border: 1.5px solid black;
}

.popup-wrap .write-popup form .date fieldset input {
  width: 85%;
  margin: 0;
  display: inline-block;
  border: none;
}

.popup-wrap .write-popup form .date fieldset i {
  text-align: center;
  width: 15%;
  margin: 0 auto;
}

.popup-wrap .write-popup form .date p {
  display: inline;
  font-size: 1em;
  margin: 0.5em 0;
}

.popup-wrap .write-popup form .selectbox-wrap .selectbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.5em;
}

.popup-wrap .write-popup form .selectbox-wrap .selectbox select {
  width: calc(50% - 0.5em);
}

.popup-wrap .write-popup form .selectbox-wrap .selectbox p {
  display: inline-block;
  width: calc(50% - 0.5em);
  text-align: left;
}

.popup-wrap .write-popup form textarea {
  width: 100%;
  height: 180px;
  resize: none;
}

.popup-wrap .view-popup {
  padding: 0.5em;
  display: none;
}

.popup-wrap .view-popup div:not(.button-wrap) {
  margin: 1em 0;
  display: block;
  border-bottom: 1px solid black;
  padding: 1em 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}

.popup-wrap .view-popup div:not(.button-wrap) span {
  font-size: 1.25em;
  padding-right: 0.625em;
  font-weight: bold;
}

.popup-wrap .view-popup div:not(.button-wrap) span::after {
  content: " /";
}

.popup-wrap .view-popup div:not(.button-wrap) p {
  font-size: 1.25em;
}

.popup-wrap .button-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}

.popup-wrap .button-wrap .popup_button {
  border: 1px solid black;
  font-size: 1.25em;
  margin: 0 0.25em;
  cursor: pointer;
}
