@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
/**************** 반응형 ****************/
html, body, h1, h2, h3, h4, h5, h6, p, div, header, footer, section, aside, article, ul, ol, li, dl, dd, dt, fieldset {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

ul, ol {
  list-style: none;
}

.w100 {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
}

address {
  font-style: normal;
}

input, select, textarea, button {
  font-size: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}

.wrap .popup-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
  z-index: 100;
  display: none;
}

.wrap .header-wrapper {
  border: 1px solid black;
  height: 8vh;
}

.wrap .header-wrapper .header-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 1em;
}

.wrap .header-wrapper .header-wrap .logo-wrap {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap .header-wrapper .header-wrap .logo-wrap .panel {
  display: none;
}

@media screen and (max-width: 992px) {
  .wrap .header-wrapper .header-wrap .logo-wrap .panel {
    display: block;
  }
}

.wrap .header-wrapper .header-wrap .logo-wrap .logo {
  padding: 0 1em;
}

.wrap .header-wrapper .header-wrap .search-wrap {
  border: none;
}

@media screen and (max-width: 992px) {
  .wrap .header-wrapper .header-wrap .search-wrap {
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .wrap .header-wrapper .header-wrap .search-wrap {
    display: none;
  }
}

.wrap .header-wrapper .header-wrap .search-wrap .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 32px;
  border: 1px solid black;
  padding: 0;
  border-radius: 0.5em;
}

.wrap .header-wrapper .header-wrap .search-wrap .input-wrap .search {
  width: 280px;
  height: 30px;
  border: none;
  border-radius: 0.5em;
  padding-left: 0.5em;
}

.wrap .header-wrapper .header-wrap .search-wrap .input-wrap .search_button {
  border: none;
  width: 30px;
  height: 30px;
  border-left: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap .header-wrapper .header-wrap .menu-wrap .write {
  font-size: 2em;
}

.wrap .center-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  height: 92vh;
}

.wrap .center-wrapper .side-wrapper {
  border: 1px solid black;
  width: 180px;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
}

@media screen and (max-width: 992px) {
  .wrap .center-wrapper .side-wrapper {
    position: absolute;
    left: -9999px;
    z-index: 1;
  }
}

.wrap .center-wrapper .side-wrapper .category {
  padding: 0 10px;
}

.wrap .center-wrapper .side-wrapper .category .category-header {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: bold;
}

.wrap .center-wrapper .side-wrapper .category li {
  padding: 3px 0;
}

.wrap .center-wrapper .side-wrapper .category li p {
  display: inline;
}

.wrap .center-wrapper .side-wrapper .serach-wrap {
  padding: 0.5em;
}

.wrap .center-wrapper .side-wrapper .serach-wrap input {
  width: 80%;
}

.wrap .center-wrapper .content-wrapper {
  border: 1px solid black;
  width: calc(100% - 180px);
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .wrap .center-wrapper .content-wrapper {
    width: 100vw;
  }
}

.wrap .center-wrapper .content-wrapper .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 102%;
  margin: 0 auto;
  padding: 30px 30px;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content {
  border: 1px solid black;
  width: 23%;
  height: 300px;
  margin-right: 2%;
  margin-bottom: 2%;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap {
  font-size: 1.125em;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap .image-wrap img {
  height: 120px;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap .info {
  padding: 0.5em;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap .info .title {
  font-weight: bold;
  margin: 0.625em 0;
  text-align: center;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap .info div {
  padding: 0.125em 0;
}

.wrap .center-wrapper .content-wrapper .content-wrap .content .info-wrap .info div span::after {
  content: " / ";
}

@media screen and (max-width: 1200px) {
  .wrap .center-wrapper .content-wrapper .content-wrap .content {
    width: 31%;
    height: 300px;
  }
}

@media screen and (max-width: 992px) {
  .wrap .center-wrapper .content-wrapper .content-wrap .content {
    width: 31%;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .wrap .center-wrapper .content-wrapper .content-wrap .content {
    width: 48%;
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .wrap .center-wrapper .content-wrapper .content-wrap .content {
    width: 98%;
    height: 300px;
  }
}

.up-arrow {
  position: fixed;
  bottom: 1%;
  right: 2%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.up-arrow a i {
  font-size: 2em;
  margin-left: 0.125em;
}

.popup-wrap {
  z-index: 150;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: solid 1px black;
  width: 90vw;
  background-color: white;
  display: none;
  max-height: 90vh;
  overflow-y: scroll;
}

.popup-wrap .write-popup {
  display: none;
}

.popup-wrap .write-popup form {
  padding: 0.5em;
}

.popup-wrap .write-popup form input, .popup-wrap .write-popup form select, .popup-wrap .write-popup form textarea {
  display: block;
  margin: 0.5em 0;
  width: calc(50% - 1em);
  border: 1.5px solid black;
}

.popup-wrap .write-popup form input:not(.calendar) {
  font-size: 1.5em;
  width: 100%;
}

.popup-wrap .write-popup form .date {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup-wrap .write-popup form .date fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.5em;
  width: calc(50% - 0.5em);
  border: 1.5px solid black;
}

.popup-wrap .write-popup form .date fieldset input {
  width: 85%;
  margin: 0;
  display: inline-block;
  border: none;
}

.popup-wrap .write-popup form .date fieldset i {
  text-align: center;
  width: 15%;
  margin: 0 auto;
}

.popup-wrap .write-popup form .date p {
  display: inline;
  font-size: 1em;
  margin: 0.5em 0;
}

.popup-wrap .write-popup form .selectbox-wrap .selectbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.5em;
}

.popup-wrap .write-popup form .selectbox-wrap .selectbox select {
  width: calc(50% - 0.5em);
}

.popup-wrap .write-popup form .selectbox-wrap .selectbox p {
  display: inline-block;
  width: calc(50% - 0.5em);
  text-align: left;
}

.popup-wrap .write-popup form textarea {
  width: 100%;
  height: 180px;
  resize: none;
}

.popup-wrap .view-popup {
  padding: 0.5em;
  display: none;
}

.popup-wrap .view-popup div:not(.button-wrap) {
  margin: 1em 0;
  display: block;
  border-bottom: 1px solid black;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup-wrap .view-popup div:not(.button-wrap) span {
  font-size: 1.25em;
  padding-right: 0.625em;
  font-weight: bold;
}

.popup-wrap .view-popup div:not(.button-wrap) span::after {
  content: " /";
}

.popup-wrap .view-popup div:not(.button-wrap) p {
  font-size: 1.25em;
}

.popup-wrap .button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup-wrap .button-wrap .popup_button {
  border: 1px solid black;
  font-size: 1.25em;
  margin: 0 0.25em;
  cursor: pointer;
}
