@import 'base';

body{font-family: $open-en;}

.wrapper{

  .popup-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 100;
    display: none;
}   
  .container-wrap{
    @include fx($w:nowrap);
    height: 100vh;
    .side-wrap{
      position: relative;
      @include border;
      background-color: white;
      height: 100vh;
      overflow-y: auto;
      min-width: 350px;
      max-width: 350px;
      transition: all 0.5s;
      font-family: $noto-kr;
      //overflow-x: hidden;
      // &::-webkit-scrollbar { 
      //   width: 0; /*스크롤바의 너비*/ 
      // }
      @include MD{
        position: fixed;
        left : -9999px;
      }
      @include XS{
        min-width: 100vw;
        max-width: 100vw;
      }
      .box{
        @include fx($direction:column);
        @include border;
        border-left: 0;
        border-right: 0;
        cursor: pointer;
        padding: 16px;
        .title{
          font-weight: bold;
          font-size: 1.25em;
          padding-bottom: 12px;
        }
        .content{
          font-weight: 300;
            @include multiEllipsis($line:3,$lh:1.5em);
        }
        &:hover >.content{
          text-decoration :underline;
        }
      }
    }
    .content-wrapper{
      @include shadow;
      @include border;
      min-height: 100vh;
      overflow-y: auto;
      @include MD{
        left: 0;
        width: calc(100vw);
      }
      .content-wrap{
        margin: 2em auto;
        @include border;
        min-height: calc(100% - 4em);
        width: calc(100% - 4em);
        @include XS{
          width: calc(100%);
          margin: 0;
        }
        .content{
          padding: 2em;
          .title-wrap{
            font-size: 2em;
            font-weight: bold;
            border-bottom: 1px solid black;
            padding-bottom: 2px;
            display: inline;
            .category{
              
            }
            .title-info-wrap{
               @include fx($h:$SB);
               margin-top: 20px;
               .profile{
                @include fx();
                .photo{
                  width: 50px;
                }
                .write-info{
                  @include fx($h:$CT,$direction:$col);
                  font-size: 0.5em;
                  margin-left: 16px;
                  .content{
                    background-color: cadetblue;
                    height: 50%;
                    width: 50%;
                  }
                  .date{
                    margin-top: 4px;
                    font-weight: normal;
                  }
                }
              }
            }
          }
        }
        .mainText{
          margin: 16px 0;
          font-size: 18px;
          line-height: 1.5em;
        }
      }
    }
  }
}
.menu-wrap{
  position: fixed;
  bottom: 8px;
  left: 8px;
  z-index: 99;
  @include XS{
    right: 16px;
    bottom: 48px;
  }
  ul{
    @include fx($v:$CT);
    font-size: 1.375em;
    @include XS{
      @include fx($v:$FS,$direction:$col);
    }
    
    li{
      padding-right: 0.75em;
      cursor: pointer;
      @include XS{
        margin: 8px 0;
      }
      .search{
        @include fx($v:$CT);
        @include XS{
          &:hover input[type="text"]{
            width: 200px;
            visibility: visible;
          }
        }
        i.mobile{
          display: none;
          @include XS{
            display: block;
          }
        }
        i.desktop{
          display: block;
          @include XS{
            display: none;
          }
        }
        input[type="text"]{
          width: 200px;
          border-radius: 5px;
          opacity: 0.3;
          transition: all 0.3s;
          margin-left: 4px;
          @include XS{
            width: 0;
            visibility: hidden;
          }
          &:focus{
            opacity: 1;
            font-weight: bold;
            width: 250px;
          }
        }
      }
    }
    .side-sw{
      display: none;
      @include MD{
        display: block;
      }
    }
  }
}

.popup-wrap{
  @include center(150);
  @include XS{
    top: 0;
    left: 0;
    transform: translate(0,0);
  }
  position: fixed;
  border: solid 1px black;
  width: 70vw;
  background-color: white;
  display: none;
  max-height: 90vh;
  overflow-y: auto;
  @include XS{
    width: 100vw;
    max-height: 80vh;
  }
  .write-popup{
      display: none;
      form{
          padding: 0.5em;
          input,select,textarea{
              display: block;
              margin: 0.5em 0;
              width: calc(50% - 1em);
              border: 1.5px solid black;
          }
          input:not(.calendar){
              font-size: 1.5em;
              width: 100%;
          }
          .title{
            &::placeholder{
              padding-left: 4px;
            }
          }
          .content{
              margin-bottom: 8px;
          }
      }
  }
  .button-wrap{
      @include fx($h:$CT);
      .popup_button{
          border: 1px solid black;
          font-size: 1.25em;
          margin: 0 0.25em;
          cursor: pointer;
      }
  }  
}